include amdam/coderun/run_shell.sh
include amdam/coderun/data/database.db
include amdam/templates/index.html
include amdam/templates/live_html/body.html
include amdam/templates/live_html/head.html
include amdam/templates/live_html/index.html
include amdam/templates/live_html/scripts.html
include amdam/logs/py_log_from_server.txt
include amdam/logs/py_log_single_run.txt
include amdam/logs/sh_log.txt

include amdam/static/ablaze.css
include amdam/static/bundle.min.js
include amdam/static/favicon.ico
include amdam/static/icon.png
include amdam/static/settings.js

include amdam/static/plugins/README
include amdam/static/plugins/axios.min.map
include amdam/static/plugins/vue-bundle.js
include amdam/static/plugins/vuetify.css.map
include amdam/static/plugins/vuetify.map
include amdam/static/plugins/vuetify.min.css
include amdam/static/plugins/vuetify.min.js

include amdam/static/plugins/material/README.md
include amdam/static/plugins/material/license.md
include amdam/static/plugins/material/css/materialdesignicons.css
include amdam/static/plugins/material/css/materialdesignicons.css.map
include amdam/static/plugins/material/css/materialdesignicons.min.css
include amdam/static/plugins/material/css/materialdesignicons.min.css.map
include amdam/static/plugins/material/fonts/materialdesignicons-webfont.eot
include amdam/static/plugins/material/fonts/materialdesignicons-webfont.ttf
include amdam/static/plugins/material/fonts/materialdesignicons-webfont.woff
include amdam/static/plugins/material/fonts/materialdesignicons-webfont.woff2
include amdam/static/plugins/material/css/materialdesignicons.css
include amdam/static/plugins/material/css/materialdesignicons.css.map
include amdam/static/plugins/material/css/materialdesignicons.min.css
include amdam/static/plugins/material/css/materialdesignicons.min.css.map

include amdam/static/plugins/ace_editor/src-noconflict/ace.js
include amdam/static/plugins/ace_editor/src-noconflict/theme-monokai.js

include amdam/static/plugins/ace_editor/src-noconflict/ext-beautify.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-elastic_tabstops_lite.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-emmet.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-error_marker.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-keybinding_menu.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-language_tools.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-linking.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-modelist.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-options.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-prompt.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-rtl.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-searchbox.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-settings_menu.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-spellcheck.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-split.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-static_highlight.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-statusbar.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-textarea.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-themelist.js
include amdam/static/plugins/ace_editor/src-noconflict/ext-whitespace.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-batchfile.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-css.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-dockerfile.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-hjson.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-html.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-html_elixir.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-javascript.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-json.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-makefile.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-markdown.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-mysql.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-nginx.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-pgsql.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-plain_text.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-powershell.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-python.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-rhtml.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-scss.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-sh.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-sql.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-sqlserver.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-text.js
include amdam/static/plugins/ace_editor/src-noconflict/mode-textile.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/batchfile.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/css.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/dockerfile.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/hjson.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/html.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/html_elixir.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/javascript.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/json.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/makefile.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/markdown.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/mysql.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/nginx.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/pgsql.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/plain_text.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/powershell.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/python.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/rhtml.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/sh.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/sql.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/sqlserver.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/text.js
include amdam/static/plugins/ace_editor/src-noconflict/snippets/textile.js
include amdam/static/plugins/ace_editor/src-noconflict/worker-css.js
include amdam/static/plugins/ace_editor/src-noconflict/worker-html.js
include amdam/static/plugins/ace_editor/src-noconflict/worker-javascript.js
include amdam/static/plugins/ace_editor/src-noconflict/worker-json.js
